{% extends "base.html" %}
{% load static %}

{% block title %}Add Cycle - Pedal Share{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">
                        <i class="fas fa-plus"></i> Add New Cycle
                    </h3>
                </div>
                
                <div class="card-body p-4">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.title.id_for_label }}">Cycle Title *</label>
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.cycle_type.id_for_label }}">Type *</label>
                                    {{ form.cycle_type }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}">Description</label>
                            {{ form.description }}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.color.id_for_label }}">Color</label>
                                    {{ form.color }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.price_per_hour.id_for_label }}">Price per Hour (₹) *</label>
                                    {{ form.price_per_hour }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.location.id_for_label }}">Location *</label>
                            {{ form.location }}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.available_from.id_for_label }}">Available From *</label>
                                    {{ form.available_from }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.available_until.id_for_label }}">Available Until *</label>
                                    {{ form.available_until }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.registration_number.id_for_label }}">Registration Number</label>
                                    {{ form.registration_number }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.image.id_for_label }}">Cycle Image</label>
                                    {{ form.image }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-plus"></i> Add Cycle
                            </button>
                            <a href="{% url 'cycles:my_cycles' %}" class="btn btn-outline">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
